    <footer class="footer mt-5 py-4">
      <div class="container mt-5">
        <div class="icons mb-3">
          <a href="https://github.com/PRITIKA-GIRI"><img src="/images/github.svg" alt="GitHub"></a>
          <a href="https://www.linkedin.com/in/pritika-giri/"><img src="/images/linkedin.svg" alt="LinkedIn"></a>
          <a href="https://www.facebook.com/pritika.giri.946/"><img src="/images/facebook.svg" alt="Facebook"></a>
          <a href="https://www.instagram.com/___pri.pri/"><img src="/images/instagram.svg" alt="Instagram"></a>
        </div>
        <p class="text-center" style="color:#807c7c">© 2025 Pritika Giri</p>
      </div>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>