# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Build
/build
/dist

# Environment
.env
.env.*
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS/Editor
.DS_Store
.idea/
.vscode/
Thumbs.db

# Testing
/coverage
/jest-report/
/cypress/screenshots/
/cypress/videos/

# Misc
*.tmp
.eslintcache