# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Build artifacts and cache
dist/
build/
.tmp/
.cache/

# IDE-specific files
.vscode/
.idea/


# Dependency lock files (if you prefer using yarn over npm, ignore the other)
# Uncomment only if you are not using them for deterministic builds
# package-lock.json
# yarn.lock
