<%- include('partials/header') %>

    <div class="container my-5 py-5">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-8 order-lg-1 order-2">
          <div class="text-center text-lg-start">
            <h5 style="color:#807c7c">Hello, I'm</h5>
            <h1 class="display-4 typewriter-once"><span style="color:#e69924">Pritika</span> <span style="font-family: 'Sora', sans-serif;">G</span>iri</h1>
            <h5 class="mb-4">Passionate Full Stack Developer</h5>
            <p class="mb-4">
              I'm diving deep into modern web development, building projects to master both frontend and backend technologies.
            </p>
            <a href="/images/Pritika_Giri_CV.pdf" download>
              <button class="cvBtn">Download CV
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                </svg>
              </button>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-8 order-lg-2 order-1 mb-5 mb-lg-0">
          <div class="d-flex justify-content-center">
            <img src="/images/admin.jpg" class="profile-img img-fluid" alt="Pritika image">
          </div>
        </div>
      </div>
    </div>

<%- include('partials/footer') %>