<%- include('partials/header') %>

<div class="text-center pagetitle" style="font-family: 'Montserrat', sans-serif;">
  <h3>My Projects</h3>
</div>

<div class="container mt-5">
  <div class="row">
    <% projects.forEach((project, index) => { %>
      <%- include('partials/card', {
        carouselId: `carousel${index}`,
        title: project.title,
        description: project.description,
        link: project.link,
        images: project.images
      }) %>
    <% }) %>
  </div>
</div>

<%- include('partials/footer') %>
