<%- include('partials/header') %>
 <div class="text-center pagetitle" style="font-family: 'Montserrat', sans-serif;">
        <h3>My Skills</h3>
    </div>
<div class="container mt-5 mb-5">
  <div class="row">

    <!-- Frontend Card -->
    <div class="col">
      <div class="card" style="width: 25rem; height:22rem;">
        <div class="card-body">
          <h5 class="card-title">Frontend</h5>
          <ul class="card-text">
            <li><img src="/images/html5.svg " alt="html svg " height=20px width=20px>    HTML</li>
            <li><img src="/images/css.svg " alt="html svg " height=20px width=20px>   CSS</li>
            <li><img src="/images/javascript.svg " alt="html svg " height=20px width=20px>   JavaScript</li>
            <li><img src="/images/react.svg " alt="html svg " height=20px width=20px>   React</li>
            <li><img src="/images/bootstrap.svg " alt="html svg " height=20px width=20px>   Bootstrap</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Backend Card -->
    <div class="col">
      <div class="card" style="width: 25rem; height:22rem;">
        <div class="card-body">
          <h5 class="card-title">Backend</h5>
          <ul class="card-text">
            <li><img src="/images/nodedotjs.svg " alt="html svg " height=20px width=20px>   Node.js</li>
            <li><img src="/images/express.svg " alt="html svg " height=20px width=20px>   Express.js</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Database Card -->
    <div class="col">
      <div class="card" style="width: 25rem; height:22rem;">
        <div class="card-body">
          <h5 class="card-title">Database</h5>
          <ul class="card-text">
            <li><img src="/images/mongodb.svg " alt="html svg " height=20px width=20px>   MongoDB</li>
            <li><img src="/images/mysql.svg " alt="html svg " height=20px width=20px>    MySQL</li>
            <li><img src="/images/postgresql.svg " alt="html svg " height=20px width=20px>   PostgreSQL</li>
         
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
